html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  background-color: var(--blanco);
  color: var(--negro);
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;
}
.main .wrapper {
  width: 90%;
  height: 90%;
  max-width: 120rem;
  max-height: 56.2388rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}
.main .wrapper .img {
  width: 50%;
  height: 100%;
  background-image: url(../src/image\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main .wrapper .form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 1em;
}
.main .wrapper .form .container {
  width: 60%;
  max-width: 21.875rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.main .wrapper .form .container .text {
  display: flex;
  flex-flow: column nowrap;
}
.main .wrapper .form .container .forme {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.main .wrapper .form .container .buttons {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main .wrapper .form .container .buttons .btn {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background: #04C45C;
  border-radius: 5px;
  gap: 20px;
}
.main .wrapper .form .container .buttons .btn .imgg {
  width: 5%;
}
.main .wrapper .form .container .buttons .-b {
  background: #2D3748;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  /* 900 */
  color: #1A202C;
}

.h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* 800 */
  color: #2D3748;
}

/*# sourceMappingURL=main.css.map */
